// colors :
$primary10: #3c3c3c;
$primary40: #01b182;
$primary70: #252526;
$primary90: #141319;

$secondrady10: #85dbc4;//selected Font


$tertiary10: rgb(133, 219, 196);


$error10: #410e0b;
$error40: #b3261e;
$error90: #f9dedc;



//Font-colors :
$d-font-color: rgba(248, 248, 248, 1);;
$l-font-color: hsla(0,0%,100%,.6);
$f-font-color: #85dbc4;
