@use '../../styles/variables' as variables;

.mainMenu{
    width: 320px;
    position: fixed;
    top:60px;
    right: 0px;
    height: 100%;
    background-color:variables.$primary10 ;
    z-index: 999;

}
.bodyMenu{

}
.link{
    text-decoration: none;
}
.selectedTitle{   
    padding-top: 15px;
    padding-bottom: 15px;    
    text-align: center;
    width: 50%;   
    background-color:variables.$primary40 !important ;
    font-weight: bold !important;
    font-size: 0.825rem !important;
    color: #fff !important;
    display: inline-block;
}
.title{
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 50%;
    text-align: center;   
    background-color:variables.$secondrady20 !important ;
    font-weight: bold !important;
    font-size: 0.825rem !important;
    color: #ffffff99 !important;


}