
@use "../../styles/variables" as variables;



.verticalText {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-90deg);
  text-align: center;
  margin: auto;
  color: variables.$d-font-color;
  font-weight: 0;
  font-size: 15px;

}
.chartSetting {
  direction: ltr !important;
  padding-top: 10px;
  padding-right: 1.5rem;
  padding-left: 3rem;
  background-color: variables.$primary10;
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 100%;
}
