$primaryColor: #01b182;
$secondaryColor: hsla(0, 0%, 100%, 0.7);
$mainWhite: #fff;
$mainBlack: #222;
$mainGray: #343434;
$mainSize: 1.5rem;
$fontFamily: IRANSans;
$gradient-from: #3c3c3c;
$gradient-to: #252526;
$gradient-stops: $gradient-from, $gradient-to;
$text-opacity: 1;
$secondaryWhite: rgba(248, 248, 248, $text-opacity);
// mainSpacing - mainTransition - mainRed - bodyColor
