
@font-face {
  font-family: "IRANSanse";
  src: url("./styles/fonts/IRANSansXFaNum-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: "IRANSanse" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
row{
  margin: 0px !important;
}
col{
  margin: 0px !important;
}

code {
  font-family: "IRANSanse" !important;
}
